
.grid-container{  
    display: grid;
    grid-template-areas:
        'header header header header'
        'signin signin register register';
    background-color: rgb(19, 157, 212);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
}

.header{
    grid-area: header;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    border-style: solid;
    justify-content: center;

}

.signin{
    grid-area: signin;
    border-style: solid;
    padding-top: 100px;
    display: flex;
    justify-content: center;

}

.register{
    grid-area: register;
    border-style: solid;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}